@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
    299.64deg,
    #c3d1e4 -0.02%,
    #dde7f3 54.14%,
    #d4e0ed 100.43%
  );
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
}
.blur {
  filter: blur(5px);
}
.search {
  width: 100%;
}
.search-movie {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;
}
.profile,
.close {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  box-shadow: inset 8px 8px 16px #68768b, inset -8px -8px 16px #c2daff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.profile.active {
  background: linear-gradient(
    299.64deg,
    #c3d1e4 -0.02%,
    #dde7f3 54.14%,
    #d4e0ed 100.43%
  );

  box-shadow: 8px 8px 26px #5e6a7d, -8px -8px 26px #cce6ff;
}

.close:hover {
  background: linear-gradient(
    299.64deg,
    #c3d1e4 -0.02%,
    #dde7f3 54.14%,
    #d4e0ed 100.43%
  );

  box-shadow: 8px 8px 26px #5e6a7d, -8px -8px 26px #cce6ff;
}
.search-movie-input {
  width: 370px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50px;
  transition: all 0.5s ease;
  box-shadow: inset 8px 8px 16px #68768b, inset -8px -8px 16px #c2daff;
  background: linear-gradient(
    299.64deg,
    #c3d1e4 -0.02%,
    #dde7f3 54.14%,
    #d4e0ed 100.43%
  );

  padding: 0 20px;
}
.search-movie-input:focus {
  outline: none;
  background: linear-gradient(
    299.64deg,
    #c3d1e4 -0.02%,
    #dde7f3 54.14%,
    #d4e0ed 100.43%
  );

  box-shadow: 8px 8px 26px #5e6a7d, -8px -8px 26px #cce6ff;
}
/* ------------nav----------------- */
nav {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px auto;
}
nav div,
.btn {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 30px;
  cursor: pointer;
  user-select: none;
  opacity: 0.7;
  background: linear-gradient(
    299.64deg,
    #c3d1e4 -0.02%,
    #dde7f3 54.14%,
    #d4e0ed 100.43%
  );
  padding: 0 10px;
  box-shadow: inset 8px 8px 26px #5e6a7d, inset -8px -8px 26px #cce6ff;
  margin: 5px;
}

nav .active {
  background: linear-gradient(
    299.64deg,
    #c3d1e4 -0.02%,
    #dde7f3 54.14%,
    #d4e0ed 100.43%
  );

  box-shadow: 8px 8px 29px #5e6a7d, -8px -8px 29px #cce6ff;
  transition: width 1s ease-out;
  left: 0;
  opacity: 1;
  width: 100%;
  margin: 10px;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.card {
  position: relative;
  width: 230px;
  height: 430px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); */
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  user-select: none;
  cursor: pointer;
  box-shadow: 18px 18px 36px #7f8fa8, -18px -18px 36px #abc1e4;
}
.card:hover img {
  filter: blur(4px) brightness(60%);
}
.card-hover {
  position: absolute;
  width: 100%;
  top: 70px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 26px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.card-rating {
  width: 100%;
  margin-bottom: 80px;
}
.card-gener {
  width: 100%;
}
.card-title {
  user-select: text;
  margin: 0 10px;
}
.card-date {
  margin: 0 10px;

  user-select: text;
}
.hidden {
  display: none;
}
.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.pages .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(
    299.64deg,
    #c3d1e4 -0.02%,
    #dde7f3 54.14%,
    #d4e0ed 100.43%
  );

  box-shadow: 35px 35px 70px #1f2b43, -35px -35px 70px #435f91;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 10px;
}
/* neumorphic design */
.card .neumorphic {
  box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
}

/* card Pre Loading */

.card-loader {
  width: 230px;
  height: 430px;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  user-select: none;
  cursor: pointer;

  /* box-shadow: 18px 18px 36px #7f8fa8, -18px -18px 36px #abc1e4; */

  background-color: #fff;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.08),
    0 -1px 3px 0 rgba(0, 0, 0, 0.06);
  position: relative;
  overflow: hidden;
}
.card-loader:only-child {
  margin-top: 0;
}
.card-loader:before {
  content: "";
  width: 500px;
  height: 345px;
  display: block;
  background-color: #ededed;
  box-shadow: -140px 210px 0 -153px #ededed;
}
.card-loader:after {
  content: "";
  background-color: #333;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-name: loader-animate;
  animation-timing-function: linear;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0) 81%
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0) 81%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0) 81%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00ffffff", endColorstr="#00ffffff",GradientType=1 );
}

@keyframes loader-animate {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
/* movie modal popup */
.card-modal-container {
  margin-top: 70px;
}
.card-modal {
  width: 90%;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  background: linear-gradient(
    299.64deg,
    #c3d1e4 -0.02%,
    #dde7f3 54.14%,
    #d4e0ed 100.43%
  );

  box-shadow: 8px 8px 26px #5e6a7d, -8px -8px 26px #cce6ff;
}
.card-modal-header {
  display: flex;
}
.card-modal-title {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  /* letter-spacing: 2px; */
}
.card-modal-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.card-modal-wrapper .left {
  height: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin: 0 20px;
  width: 20%;
}
.card-modal-wrapper .left img {
  width: 230px;
}

.card-modal-wrapper .center .gener {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-modal-wrapper .center .gener .btn {
  width: max-content;
}
.card-modal-wrapper .center {
  margin: 0 20px;
  width: 33%;
  flex-wrap: wrap;
}
.card-modal-wrapper .center .gener .btn {
  width: max-content;
}
.card-modal-wrapper .center .gener .btn:hover,
.card-modal-wrapper .center .cast .btn:hover {
  background: linear-gradient(
    299.64deg,
    #c3d1e4 -0.02%,
    #dde7f3 54.14%,
    #d4e0ed 100.43%
  );

  box-shadow: 8px 8px 26px #5e6a7d, -8px -8px 26px #cce6ff;
}

.card-modal-wrapper .center .cast {
  display: flex;
  justify-content: center;
}
.card-modal-wrapper .center .cast .cast-name {
  margin-top: 8px;
}
.card-modal-wrapper .center .cast .cast-names {
  box-shadow: 8px 4px 15px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  margin: 5px 10px;
  padding: 0 10px;
}
.card-modal-wrapper .center .cast .all-cast {
  display: flex;
  flex-wrap: wrap;
}
.card-modal-wrapper .center .cast .all-cast .btn {
  width: max-content;
}
.card-modal-wrapper .center .trailer {
  width: 100%;
  text-align: center;
}
.card-modal-wrapper .center .trailer .trailer-box {
  width: 100%;
  position: relative;
  height: 167px;
}
.card-modal-wrapper .center .trailer .trailer-text {
  width: 100%;
  margin: 0 auto;
}
.card-modal-wrapper .center .trailer .background-img img {
  height: 167px;
}
.card-modal-wrapper .center .trailer .video {
  cursor: pointer;
  width: 60px;
  height: 60px;
  font-size: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #427cd8;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.card-modal-wrapper .center .trailer .background-img .waves {
  position: absolute;
  width: 150px;
  height: 150px;
  background: #fff;
  opacity: 0;
  border-radius: 100%;
  animation: waves 3s ease-in-out infinite;
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: -75px;
}
.card-modal-wrapper .center .trailer .background-img .wave-1 {
  animation-delay: 0s;
}
.card-modal-wrapper .center .trailer .background-img .wave-2 {
  animation-delay: 1s;
}
.card-modal-wrapper .center .trailer .background-img .wave-3 {
  animation-delay: 2s;
}
@keyframes waves {
  0% {
    transform: scale(0.2, 0.2);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    transform: scale(0.9, 0.9);
    opacity: 0;
  }
}
.card-modal-wrapper .right {
  margin: 0 20px;
  width: 33%;
}
@media only screen and (max-width: 1215px) {
  .card-modal-wrapper .right {
    width: 100%;
  }
  .card-modal-wrapper .left {
    width: 30%;
  }
  .card-modal-wrapper .center {
    width: 50%;
    margin: 30px auto;
  }
}
@media only screen and (max-width: 720px) {
  .card-modal-wrapper .right {
    width: 100%;
    margin: 10px;
  }
  .card-modal-wrapper .left,
  .card-modal-wrapper .center {
    width: 100%;
  }
  .card-modal-wrapper .center .trailer .background-img img {
    width: 100%;
  }
  .card-modal {
    width: 80%;
  }
  .card-modal-container {
    margin-top: 30px;
  }
}
