@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
    299.64deg,
    #c3d1e4 -0.02%,
    #dde7f3 54.14%,
    #d4e0ed 100.43%
  );
}
.container {
  width: 100%;
}
.search {
  width: 100%;
}
.search-movie {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;
}
.profile {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  box-shadow: inset 8px 8px 16px #68768b, inset -8px -8px 16px #c2daff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile.active {
  background: linear-gradient(
    299.64deg,
    #c3d1e4 -0.02%,
    #dde7f3 54.14%,
    #d4e0ed 100.43%
  );

  box-shadow: 8px 8px 26px #5e6a7d, -8px -8px 26px #cce6ff;
}

.search-movie-input {
  width: 370px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50px;
  transition: all 0.5s ease;
  box-shadow: inset 8px 8px 16px #68768b, inset -8px -8px 16px #c2daff;
  background: linear-gradient(
    299.64deg,
    #c3d1e4 -0.02%,
    #dde7f3 54.14%,
    #d4e0ed 100.43%
  );

  padding: 0 20px;
}
.search-movie-input:focus {
  outline: none;
  background: linear-gradient(
    299.64deg,
    #c3d1e4 -0.02%,
    #dde7f3 54.14%,
    #d4e0ed 100.43%
  );

  box-shadow: 8px 8px 26px #5e6a7d, -8px -8px 26px #cce6ff;
}
/* ------------nav----------------- */
nav {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px auto;
}
nav div {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 30px;
  cursor: pointer;
  user-select: none;
  opacity: 0.7;
  background: linear-gradient(
    299.64deg,
    #c3d1e4 -0.02%,
    #dde7f3 54.14%,
    #d4e0ed 100.43%
  );
  padding: 0 10px;
  box-shadow: inset 8px 8px 26px #5e6a7d, inset -8px -8px 26px #cce6ff;
  margin: 5px;
}

nav .active {
  background: linear-gradient(
    299.64deg,
    #c3d1e4 -0.02%,
    #dde7f3 54.14%,
    #d4e0ed 100.43%
  );

  box-shadow: 8px 8px 29px #5e6a7d, -8px -8px 29px #cce6ff;
  transition: width 1s ease-out;
  left: 0;
  opacity: 1;
  width: 100%;
  margin: 10px;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.card {
  position: relative;
  width: 230px;
  height: 430px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); */
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  user-select: none;
  cursor: pointer;
  box-shadow: 18px 18px 36px #7f8fa8, -18px -18px 36px #abc1e4;
}
.card:hover img{
  filter: blur(4px) brightness(60%);
}
.card-hover {
  position: absolute;
  width: 100%;
  top: 70px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 26px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.card-rating {
  width: 100%;
  margin-bottom: 80px;
}
.card-gener {
  width: 100%;
}
.card-title {
  user-select: text;
  margin: 0 10px;
}
.card-date {
  margin: 0 10px;

  user-select: text;
}
.hidden {
  display: none;
}
.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.pages .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(
    299.64deg,
    #c3d1e4 -0.02%,
    #dde7f3 54.14%,
    #d4e0ed 100.43%
  );

  box-shadow: 35px 35px 70px #1f2b43, -35px -35px 70px #435f91;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 10px;
}
/* neumorphic design */
.card .neumorphic {
  box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
}

/* card Pre Loading */

.card-loader {
  width: 230px;
  height: 430px;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  user-select: none;
  cursor: pointer;

  /* box-shadow: 18px 18px 36px #7f8fa8, -18px -18px 36px #abc1e4; */

  background-color: #fff;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.08),
    0 -1px 3px 0 rgba(0, 0, 0, 0.06);
  position: relative;
  overflow: hidden;
}
.card-loader:only-child {
  margin-top: 0;
}
.card-loader:before {
  content: "";
  width: 500px;
  height: 345px;
  display: block;
  background-color: #ededed;
  box-shadow: -140px 210px 0 -153px #ededed;
}
.card-loader:after {
  content: "";
  background-color: #333;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-name: loader-animate;
  animation-timing-function: linear;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0) 81%
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0) 81%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0) 81%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00ffffff", endColorstr="#00ffffff",GradientType=1 );
}

@keyframes loader-animate {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
